

<div id="header" style=background-color:#ffab40;color:white;text-align:center;padding:5px;>
    <h1>Internships List</h1>
</div>

<div id="nav" style= line-height:30px;background-color:#eeeeee;height:600px;width:25%;float:left;padding:5px;> 
    <div class="col s12 m4 l3">
        <div>
            <label for="sortByState">State </label>	
            <div ng-repeat="city in cities">
                <div class="input-field col s3" style= "margin-left:10px;margin-top:-10px;" >
                <input type="radio" id={{city.id+city.name}} name="stateradio" class="with-gap" value={{city.id}} ng-click="stateOnClick()" ng-model="state.selected"/>
                <label for={{city.id+city.name}} id="fontSize10">{{city.name}}</label>
                </div> <br>
            </div>
            
        </div>
        <div>
            <label for="typeOfInternship">Type of Internship </label>
            <div ng-repeat="internType in internshipTypes">
                <div class="input-field col s3" style="margin-left:10px; margin-top:-10px;" >
                    <input type="checkbox" class="filled-in" id={{"internshipType"+internType.id}}
                           ng-checked="existsIntershipTypes(internType.id)" ng-click="toggleIntershipTypes(internType.id)"/>
                    <label for={{"internshipType"+internType.id}} id="fontSize10">{{internType.name}}</label>
                </div> <br>
            </div>
        </div>    
        
        
        <div>
            <label for="Schedule">Schedule</label>
            <div ng-repeat="schedule in scheduleTypes">
                <div class="input-field col s3" style="margin-left:10px; margin-top:-10px;" >
                    <input type="checkbox" class="filled-in" id={{"scheduleTypes"+schedule.id}}
                           ng-checked="existsScheduleTypes(schedule.id)" ng-click="toggleScheduleTypes(schedule.id)"/>
                    <label for={{"scheduleTypes"+schedule.id}} id="fontSize10">{{schedule.name}}</label>
                </div> <br>
            </div>    
        </div>
        
        

</div>        
</div>
<div id="section" style=width:75%;float:left;padding:10px;>
    <div class="col s9 m8 l9">
        <div class="collection">
            <ul class="collection">
                <li class="collection-item avatar" ng-repeat="internships in internshipList">
                    <span class="title blue-text text-darken-2" > Internship type and Organization</span>

                    <p><span class="blue-text text-darken-2" style="font-size: 12px">Organization Name:</span>
                        <span style="font-size: 12px">{{internships.organizationName}}</span> <br>
                        <span class="blue-text text-darken-2" style="font-size: 12px">Internship Type: </span>
                        <span style="font-size: 12px" ng-repeat="internshipTypeList in internships.internshipTypeList">
                            {{internshipTypeList.title+", "}}
                        </span> <br>
                        <span class="blue-text text-darken-2" style="font-size: 12px">Description: </span>
                        <span style="font-size: 12px">{{internships.internDesc}}</span> <br>
                        <span class="blue-text text-darken-2" style="font-size: 12px">Pay Type: </span>
                        <span style="font-size: 12px">{{internships.payType.title}}</span> <br>
                        <span class="blue-text text-darken-2" style="font-size: 12px">Duration: </span>
                        <span style="font-size: 12px" ng-repeat="hoursWorkList in internships.hoursWorkList">
                            {{hoursWorkList.title+", "}} 
                        </span>
                        <span class="blue-text text-darken-2" style="margin-left: 50px;font-size: 12px"> Pay: </span>
                        <span style="font-size: 12px"> ${{internships.payamount}} per hour</span>
                        <span class="blue-text text-darken-2" style="margin-left: 50px;font-size: 12px"> URL: </span>
                        <a target="_blank" style="font-size: 12px" href=http://{{internships.url}}> {{internships.url}}</a>
                    </p>
                    <span class=" title blue-text text-darken-2"> Contact Person Details</span>
                    <p>
                        <span class="blue-text text-darken-2" style="font-size: 12px">Name:</span>
                        <span style="font-size: 12px">{{internships.contactPerson}} </span>
                        <span class="blue-text text-darken-2" style="margin-left: 50px;font-size: 12px">Phone:</span>
                        <span style="font-size: 12px">{{internships.phoneNumber}}</span>
                        <span class="blue-text text-darken-2" style="margin-left: 50px;font-size: 12px">Email:</span>
                        <span style="font-size: 12px">{{internships.email}}</span>
                    </p>
                    <p>
                        <span style="font-size: 12px">{{internships.city}}, {{internships.stateId.state_name}} - {{internships.zipcode}}</span>
                        <span class="blue-text text-darken-2" style="align:right;font-size:12px">Date Posted:</span>
                        <span style="font-size: 12px">{{internships.postedDate}}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div> 
